


/*------------------ MAIN NAV -------------------*/

.nav-logo {
	padding-top: 18px;
}

.nav-logo img {
	width: 121px;
}

.nav-items {
	display: block;
}

.nav-items {
	margin-top: 18px;
	padding-left: 15px;
}

.nav-items a {
	padding-left: 21px;
	text-transform: uppercase;
}

.nav-items img {
	border-radius: 90px;
	width: 27px;
}

.nav-main {
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.nav-main a {
  color: #d8d7d7;
  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.nav-main a:hover {
	color: #FFF;
  cursor: pointer;
  text-decoration: none
}

.nav-main a:focus {
  color: #808080;
  text-decoration: none;
}

.nav-main a:focus {
  outline: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}




/*------------------ BANNER -------------------*/


.banner-txt {
	font-weight: 200;
	color: #fff;
	margin: auto;
	text-align: center;
	background-color: #36454f;
	padding-top: 36px;
	padding-bottom: 36px;
}

.banner-header {
	font-size: 39px;
	line-height: 43px;
}

.banner-header-sub {
	margin-top: 21px;
	margin-bottom: 21px;
	font-size: 15px;
}


/*----------------- FORM SECTION -------------------*/


.search-container {
	width: 100%;
	max-width: 600px;
	margin: auto;
	display: block;

}

#search-field {
    width: 70%;
    height: 46px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #fff;
    border: 0px;
    outline: none;
    color: #919191;
}

.signup-form-fields input::-webkit-input-placeholder {
	color: #bebfc2;
}

.signup-form-fields input:-moz-placeholder {
	color: #bebfc2;  
}


.signup-form-fields input::-moz-placeholder {
	color: #bebfc2;  
}

.signup-form-fields input:-ms-input-placeholder {  
	color: #bebfc2;  
}
 
.signup-form-fields input:focus {
	outline: none;
	box-shadow: 0 0 0 1pt #7cb5ec;
}

.search-btn {
	font-weight: 600;
	letter-spacing: 1.1px;
	display: inline-block;
	background-color: #7fdbd4;
	padding-top: 14px;
	padding-bottom: 12px;
	width: 30%;
	color: #000;
}

.search-btn:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none
}


/*----------------- BANNER 1 -------------------*/

.banner1 {
	margin-top: 36px;
}

.banner1-img {
  display: block;
  overflow: hidden;
  background: url(../img/image_bobaguys.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
  z-index: 1;
}

.banner1-img p {
	margin-top: 90px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 30px;
	letter-spacing: 1.2px;
}

.info-btn-container {
	margin: auto;
	width: 130px;
}

.info-btn {
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	background-color: #fff;
	border: 2px solid #7fdbd4;
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 18px;
	padding-right: 18px;
	color: #000;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.info-btn:hover {
	color: #000;
}


/*----------------- BANNER 2 -------------------*/

.banner2 {
	margin-top: 2px;
}

.banner2-col {
	padding: 0px;
}

.banner2-img1 {
  display: block;
  overflow: hidden;
  background: url(../img/image_delfina.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
  z-index: 1;
}

.banner2-img1 p {
	margin-top: 221px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner2-img2 {
  display: block;
  overflow: hidden;
  margin-left: 2px;
  background: url(../img/image_namugaji.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

.banner2-img2 p {
	margin-top: 99px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner2-img3 {
  margin-top: 2px;
  margin-left: 2px;
  background: url(../img/image_projectjuice.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

/*--- Juice Overlay ---*/

.juice-overlay {
  display: block;
  overflow: hidden;
  margin-left: 2px;
  background-color: rgba(0,0,0,0.6);
  height: 124px;
  margin-top: -124px;
  z-index: 2;
}

.juice-overlay img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	width: 21px;
}

.juice-overlay p {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #7fdbd4;
	font-size: 11px;
	letter-spacing: 1.2px;
}




/*----------------- BANNER 3 -------------------*/

.banner3-col {
	padding: 0px;
}

.banner3-img1 {
  margin-top: 2px;
  background: url(../img/image_mexico.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

/*--- Mexican Overlay ---*/

.mexican-overlay {
  display: block;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  height: 124px;
  margin-top: -124px;
  z-index: 2;
}

.mexican-overlay img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18%;
	width: 36px;
}

.mexican-overlay p {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #7fdbd4;
	font-size: 11px;
	letter-spacing: 1.2px;
}



.banner3-img2 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  background: url(../img/image_plant.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

.banner3-img2 p {
	margin-top: 99px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner3-img3 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  background: url(../img/image_wisesons.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

.banner3-img3 p {
	margin-top: 99px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}



/*----------------- BANNER 4 -------------------*/

.banner4 {
}

.banner4-col {
	padding: 0px;
}

.banner4-img1 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  background: url(../img/image_projectjuice.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

.banner4-img1 p {
	margin-top: 99px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner4-img2 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  background: url(../img/image_fraiche.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

.banner4-img2 p {
	margin-top: 99px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner4-img3 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  background: url(../img/image_4505.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
  z-index: 1;
}

.banner4-img3 p {
	margin-top: 221px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}


/*----------------- BANNER 5 -------------------*/

.banner5 {
	margin-bottom: 36px;
}

.banner5-col {
	padding: 0px;
}

.banner5-img1 {
  margin-top: 2px;
  background: url(../img/image_pizza.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}


/*--- Pizza Overlay ---*/

.pizza-overlay {
  display: block;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
  height: 124px;
  margin-top: -124px;
  z-index: 2;
}

.pizza-overlay img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16%;
	width: 27px;
}

.pizza-overlay p {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #7fdbd4;
	font-size: 11px;
	letter-spacing: 1.2px;
}




.banner5-img2 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  background: url(../img/image_plant.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 124px;
  z-index: 1;
}

.banner5-img2 p {
	margin-top: 99px;
	margin-left: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner5-img3 {
  display: block;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  background-color: #7fdbd4;
  height: 124px;
  z-index: 1;
}

.banner5-img3 p {
	margin-top: 25%;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1.2px;
}

.banner5-img3 i {
	font-size: 10px;
}


@media (min-width: 480px) {



}


@media (min-width: 768px) {




@media (min-width: 991px) {




}

@media (min-width: 1050px) {



}

@media (min-width: 1200px) {


}


