


/*------------------ MAIN NAV -------------------*/

.nav-logo {
	padding-top: 18px;
}

.nav-logo img {
	width: 121px;
}

.nav-items {
	display: block;
}

.nav-items {
	margin-top: 18px;
	padding-left: 15px;
}

.nav-items a {
	padding-left: 21px;
	text-transform: uppercase;
}

.nav-items img {
	border-radius: 90px;
	width: 27px;
}

.nav-main {
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.nav-main a {
  color: #d8d7d7;
  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.nav-main a:hover {
	color: #FFF;
  cursor: pointer;
  text-decoration: none
}

.nav-main a:focus {
  color: #808080;
  text-decoration: none;
}

.nav-main a:focus {
  outline: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}




/*------------------ BANNER -------------------*/


.banner-txt {
	font-weight: 200;
	color: #fff;
	margin: auto;
	text-align: center;
	background-color: #36454f;
	padding-top: 36px;
	padding-bottom: 36px;
}

.banner-header {
	font-size: 39px;
	line-height: 43px;
}

.banner-header-sub {
	margin-top: 21px;
	margin-bottom: 21px;
	font-size: 15px;
}

.info-btn-container {
	margin: auto;
	width: 209px;
}


/*----------------- FORM SECTION -------------------*/


.search-container {
	width: 100%;
	max-width: 600px;
	margin: auto;
	display: block;

}

#search-field {
    width: 70%;
    height: 46px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #fff;
    border: 0px;
    outline: none;
    color: #919191;
    border-radius: 3px 0px 0px 3px;
}

.signup-form-fields input::-webkit-input-placeholder {
	color: #bebfc2;
}

.signup-form-fields input:-moz-placeholder {
	color: #bebfc2;  
}


.signup-form-fields input::-moz-placeholder {
	color: #bebfc2;  
}

.signup-form-fields input:-ms-input-placeholder {  
	color: #bebfc2;  
}
 
.signup-form-fields input:focus {
	outline: none;
	box-shadow: 0 0 0 1pt #7cb5ec;
}

.search-btn {
	display: inline-block;
	background-color: #7fdbd4;
	border-radius: 0px 3px 3px 0px;
	padding-top: 14px;
	padding-bottom: 12px;
	width: 30%;
	color: #fff;
}

.search-btn:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none
}



@media (min-width: 480px) {



}


@media (min-width: 768px) {




@media (min-width: 991px) {




}

@media (min-width: 1050px) {



}

@media (min-width: 1200px) {


}


